/*********************************************************************
 * 																	 *
 *	Elenos.fr design											 	 *
 *																	 *
 *	Entierely made by Tuetuopay © Tuetuopay 2014-2015 - tuetuopay.fr *
 *																	 *
 *	If you ever wish to use this design on your website, first	 	 *
 *	   ask for permission to the author, Tuetuopay and the staff	 *
 *	  of Elenos. Please do not use it without permission.			 *
 *																	 *
 *																	 *
 *			~Tuetuopay - tuetuopay.fr								 *
 *																	 *
 *********************************************************************/

* {
	/* font-family: "Helvetica Neue", Arial, "Trebuchet MS", sans-serif, serif; */
}

@font-face {
	font-family: 'PatuaOneRegular';
	src: url('patuaone-regular-webfont.eot');
	src: url('patuaone-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('patuaone-regular-webfont.woff') format('woff'),
		 url('patuaone-regular-webfont.ttf') format('truetype'),
		 url('patuaone-regular-webfont.svg#patua_oneregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PlayRegular';
	src: url('play-regular-webfont.eot');
	src: url('play-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('play-regular-webfont.woff') format('woff'),
		 url('play-regular-webfont.ttf') format('truetype'),
		 url('play-regular-webfont.svg#playregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'TGE';
	src: url('trumpgoteasreg-webfont-webfont.eot');
	src: url('trumpgoteasreg-webfont-webfont.eot?#iefix') format('embedded-opentype'),
		 url('trumpgoteasreg-webfont-webfont.woff') format('woff'),
		 url('trumpgoteasreg-webfont-webfont.ttf') format('truetype'),
		 url('trumpgoteasreg-webfont-webfont.svg#trump_gothic_eastregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Cookies';
	src: url('cookies-webfont.eot');
	src: url('cookies-webfont.eot?#iefix') format('embedded-opentype'),
		 url('cookies-webfont.woff') format('woff'),
		 url('cookies-webfont.ttf') format('truetype'),
		 url('cookies-webfont.svg#cookiesregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Clorinar';
	src: url('chlorinr-webfont.eot');
	src: url('chlorinr-webfont.eot?#iefix') format('embedded-opentype'),
		 url('chlorinr-webfont.woff') format('woff'),
		 url('chlorinr-webfont.ttf') format('truetype'),
		 url('chlorinr-webfont.svg#chlorinarregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

html	{
	/* background: url('../images/Concentric_light_blue.png') fixed no-repeat top center; */
	/* background: linear-gradient(to top, #072948 200px, #103552); */
	background: url('../images/page-gray.png') top;
	background-repeat: repeat-x;

	/* background-color: #103552; */
	/* background-color: #56030a; */
	background-color: #272727;
	color: white;

	padding: 0;

	font-family: "Helvetica Neue", Arial, "Trebuchet MS", sans-serif, serif;
}
body	{
	width: 100%;
	padding: 0;
	margin: 0;

	/* Dirty, but sometimes, content is too wide by ~3px, so this prevents horizontal scrolling */
	overflow-x: hidden;

	-webkit-font-smoothing: subpixel-antialiased;
	-moz-font-smoothing: subpixel-antialiased;

	text-align: justify;

	font-size: 14px;
	line-height: 22px;

	min-height: 100%;
}

#topspacer	{
	height: 0;
	width: 0;
	padding: 40px 0 0 0;
	display: block;
	margin: 0;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* = = = = = = = = = =  HEADER  PRINCIPAL  = = = = = = = = = */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
#main_header	{
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;

	/* background-color: rgba(255, 255, 255, 0.5); */
	background: linear-gradient(to right, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.0));

	border-bottom: 1px solid black;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5),
				0 0 1px white;
	height: 80px;
	padding: 5px 0;

	z-index: 30;
}
#header_contents	{
	position: relative;
	width: 80%;
	margin: auto;
}
/* Website logo + name */
#header_contents h1	{
	font-size: 2.5em;
	margin: 5px 0;
	padding: 0;
	vertical-align: middle;
	display: inline-block;
	font-family: "Cookies";
	vertical-align: middle;
	font-weight: bold;
	text-shadow: 0 1px 1px white;
}
#header_contents .header_logo	{
	display: inline-block;
	vertical-align: middle;
	max-height: 64px;
	max-width: 64px;
	margin: 5px;
}
#header_contents #header_info	{
	display: inline-block;
	vertical-align: middle;
}
#header_contents a	{
	color: black;
	text-decoration: none;
}

/* Top navigation menu */
#header_contents nav	{
	display: inline-block;
	width: 700px;
	position: absolute;
	right: 0;
	top: 15px;

	font-family: "Clorinar";
	font-size: 180%;
}
#header_contents ul	{
	display: table;
	margin: auto;
	padding: 0;
	width: 100%;

	height: 30px;

	border-radius: 3px;
}
#header_contents ul li	{
	display: table-cell;
	text-align: center;
	padding: 0;
	margin: 0;
	/* background: #555;
	background: linear-gradient(to top, #333, #555); */
}
#header_contents ul li::before	{
	content: "";
	width: 0;
	height: 45px;
	margin: 2.5px 0 2.5px 0;
	padding: 0 0 0 1px;
	background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0));
	display: table-cell;
	position: absolute;
}
#header_contents ul li:first-child::before	{
	content: "";
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}
#header_contents ul li:first-child	{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
#header_contents ul li:last-child	{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
#header_contents ul li a	{
	display: block;
	padding-top: 13px;
	padding-bottom: 15px;
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3),
				 0 0 5px black;

	background: rgba(0, 0, 0, 0);

	box-shadow: 0 0 10px rgba(255, 255, 255, 0) inset;

	transition: background 0.3s 0.1s,
				padding-right 0.3s 0.1s,
				padding-left 0.3s 0.1s,
				box-shadow 0.3s 0.1s;
}
#header_contents ul li a:hover, #header_contents ul li a:target	{
	/* background: #333; */
	background: rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;

	padding-left: 1em;
	padding-right: 1em;

	/* box-shadow: 0 0 10px rgba(255, 255, 255, 1) inset; */

	transition: background 0.3s 0s,
				padding-right 0.3s 0s,
				padding-left 0.3s 0s,
				box-shadow 0.3s 0s;
}
#header_contents ul li:first-child a	{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}
#header_contents ul li:last-child a	{
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

#server_ip	{
	vertical-align: middle;
	margin: 20px 0 -50px 0;
}
#server_ip h2	{
	display: inline-block;
	font-weight: normal;
	margin: 0 0;
}
#server_ip h2:first-child	{
	margin-right: 50px;
}
#server_ip h2:last-child	{
	margin-left: 50px;
}
#server_ip, #server_ip input	{
	font-family: "PlayRegular";
	text-align: center;
}
#server_ip input	{
	vertical-align: middle;
	font-size: 100%;
	background: none;
	border: 1px solid rgba(255, 255, 255, 0.1);
	color: white;
	padding: 5px;
	border-radius: 15px;
}
#server_ip h2:last-child input	{
	min-width: 260px;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* = = = = = = = = = =  AUXILARY NAVBAR  = = = = = = = = = = */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.aux_navbar	{
	display: table;

	padding: 0;
	margin: auto;
}
.aux_navbar ul	{
	display: table;
	padding: 0;
	margin: 0;
	/* border-radius: 10px; */
}
.aux_navbar ul li	{
	display: table-cell;
	text-align: center;
	padding: 0;
	position: relative;
}
.aux_navbar ul li a	{
	padding: 5px 1em;
	width: 100%;
	color: white;
	text-decoration: none;
	font-size: 18px;
	position: relative;

	font-family: "PlayRegular";

	transition: all 0.3s 0.1s;
}
.aux_navbar ul li a:hover	{
	padding: 5px 2em;
	transition: all 0.3s 0s;
	position: relative;
}
.aux_navbar ul li a::after, .aux_navbar ul li a::before	{
	content: "";
	position: absolute;
	left: 0;
	margin: 0;
	width: 100%;
	height: 2px;

	background: rgba(0, 0, 0, 0.0);
	border: 1px solid rgba(255, 255, 255, 0.0);

	transition: all 0.3s;
}
.aux_navbar ul li a::after	{
	bottom: -3px;
}
.aux_navbar ul li a::before	{
	top: -3px;
}
.aux_navbar ul li a:hover::after, .aux_navbar ul li a:hover::before	{
	content: "";
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.2);

	transition: all 0.3s 0s;
}
.aux_navbar .menu_item_active	{
	background: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}
.aux_navbar .menu_item_active:hover	{
	border-radius: 0;
}


/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* = = = = = = = = = =  CORPS  DE  PAGE  = = = = = = = = = = */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
#site_content	{
	width: 900px;
	margin: auto;
	margin-top: 70px;
	margin-bottom: 20px;
	height: 90%;
	padding: 0;
}
#site_corpse	{
}

#slideshow	{
	width: 100%;
	/* height: 300px; */
	margin: 0;
	margin-top: 0;
	padding: 0;

	overflow: hidden;

	/* box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.6); */

	border-radius: 1px;
	position: relative;
}
#slideshow div	{
	width: 100%;
}
#slideshow img, #slideshow p	{
	padding: 0;
	margin: 0;
	/* width: 930px; */
	/* height: 300px; */
}
#slideshow p	{
	position: absolute;
	left: 0;
}
.thin_info	{
	color: #CCC;
	font-size: 80%;
	font-style: italic;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* = = = = = = = = = = = = = BLOG  = = = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
#site_corpse section	{
	background: rgba(0, 0, 0, 0.1);
	/* margin: 0; */

	border: 1px solid rgba(255, 255, 255, 0.05);
}
#site_corpse section:first-child	{
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
#site_corpse section:last-child	{
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
#site_corpse section h1, #site_corpse section h2, #site_corpse section h3,
#site_corpse section h4, #site_corpse section h5, #site_corpse section h6	{
	margin: 0;
	font-family: "PlayRegular";

	color: #FCC;
	text-decoration: none;
}
#site_corpse section.blogPost header	{
	padding: 15px;

	background: rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#site_corpse section.blogPost:first-child header	{
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}
#site_corpse section.blogPost header a	{
	text-decoration: none;
}

#site_corpse section.blogPost article	{
	padding: 15px;
}
#site_corpse a	{
	color: #ADF;
	text-decoration: none;
}

#site_corpse section.blogPost footer	{
	width: 94%;
	padding: 5px 3% 4px 3%;
	font-size: 80%;
}
#site_corpse section.blogPost footer p	{
	font-family: Georgia;
	color: #AAA;
}
#site_corpse section.blogPost footer a.comments_count p	{
	color: white;
}
#site_corpse section.blogPost footer p:first-child	{
	float: right;
}

.comments_count	{
	display: inline-block;
	background-color: orange;
	position: relative;
	top: -0.3em;
	left: -3em;
	padding: 0.25em;
	padding-right: 1em;

	vertical-align: middle;

	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.3s;

	text-shadow: 0 1px 0 #CCC;
}
.comments_count:hover, .comments_count:target	{
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}
a.comments_count	{
	font-size: 1.5em;
	text-decoration: none;
}
#site_corpse .comments_count p	{
	text-indent: 0;
	margin: 0;
	color: white;
}
.comments_count img, .comments_count img:hover, .comments_count img:target	{
	height: 1.5em;
	box-shadow: none;
	vertical-align: middle;
}
#comments	{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

	padding: 10px 20px 10px 10px;
}
#comments h3	{
	margin: 0;
	padding: 0.5em;
	text-align: right;
}
#comments h3:first-word	{
	color: orange;
}
.comment	{
	border: 1px solid rgba(255, 255, 255, 0.05);
	border-left: 3px solid rgba(255, 255, 255, 0.05);
	border-radius: 5px;
	padding: 0.2em 0.5em 0.2em 1em;
	margin: 0.5em 0 0.5em 0;
	background-color: rgba(0, 0, 0, 0.05);
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
}
#site_content .comment h4:first-child	{
	padding: 0;
}
.comment p:first-child	{
	text-indent: 0;
	/* float: left; */
	display: inline-block;
	vertical-align: top;
}
.comment p:first-child img	{
	width: 32px;
}
.comment h4	{
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	font-family: "Georgia";
}
.comment h4 a	{
	color: white !important;
}
.comment_subtitle	{
	font-size: 80%;
	color: #AAA;
	font-style: italic;
}
.reply_box	{
	background-color: rgba(0, 0, 0, 0.05);
	border: 2px solid #CCC,
			1px solid #DDD;
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.reply_box label	{
	color: #555;
	font-style: italic;
}
#newArticleForm	{
	padding: 1em;
}

.error_message p, .info_message p	{
	margin: 0;
	padding: 0;
	display: inline-block;
}
.error_message, .info_message	{
	color: black;
	font-weight: bold;
	border-radius: 10px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) inset;
	padding-left: 10px;
	padding-top: 9px;
	overflow: hidden;
	margin-bottom: 1em;
	position: relative;

	height: 30px;

	/* -webkit-animation: fadeOut 1s ease 5s forwards;
	animation: fadeOut 1s ease 5s forwards; */
	-webkit-animation: heightOut 1s ease 6s forwards;
	-moz-animation: heightOut 1s ease 6s forwards;
	animation: heightOut 1s ease 6s forwards;
}
.error_message	{ background-color: red; }
.info_message	{ background-color: green; }

@-webkit-keyframes fadeOut	{
	from	{}
	to		{ opacity: 0; }
}
@-moz-keyframes fadeOut	{
	from	{}
	to		{ opacity: 0; }
}
@keyframes fadeOut	{
	from	{}
	to		{ opacity: 0; }
}
@-webkit-keyframes heightOut	{
	from	{}
	to		{ height: 0; opacity: 0; margin: 0; padding: 0; }
}
@-moz-keyframes heightOut	{
	from	{}
	to		{ height: 0; opacity: 0; margin: 0; padding: 0; }
}
@keyframes heightOut	{
	from	{}
	to		{ height: 0; opacity: 0; margin: 0; padding: 0; }
}

.horizontal_separator	{
	display: inline-block;

	width: 100%;
	margin: 5px;
	padding: 0;
	padding-top: 1px;
	height: 0;

	/* box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); */

	background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
}

span.image, p.image	{
	text-align: center;
	font-size: 80%;
	font-family: Georgia;
	font-style: italic;
	color: #555;
}
span.image	{
	display: inline-block;

	padding: 0 0 0 1em;

	float: right;
}
p.image	{
	margin: auto;
}
.image	{
	text-indent: 0;
}

#nav_buttons	{
	text-align: right;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* = = = = = = = = = = = =  SHOP = = = = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

#token_count	{
	text-align: center;
	font-size: 24px;
	padding: 0.7em;
	/* background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)); */
}
#token_count p, #token_count a	{
	font-family: 'PlayRegular';
}
#token_count p	{
	border: 2px solid rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1) inset,
				0 0 0 1px rgba(255, 255, 255, 0.1);
				border-radius: 100px;
	padding: 1em;
	width: 40%;
	margin: auto;
	text-shadow: 0 0 2px black,
				 0 1px 0 rgba(0, 0, 0, 0.3);
}
section.shopSection	{
	border-radius: 10px;

	width: 100%;
}
section.shopSection > div	{
	padding: 10px;
	/* width: 100%; */
	position: relative;
}
h2.shopSectionTitle	{
	width: 100%;
	text-align: center;
	position: relative;
}
h2.shopSectionTitle::before, h2.shopSectionTitle::after	{
	content: "";
	width: 40%;
	height: 1px;
	position: absolute;
	top: 50%;
	margin: 0;
	padding: 1px 0 0 0;

	background: rgba(0, 0, 0, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.1);
}
h2.shopSectionTitle::before	{
	left: 0;
}
h2.shopSectionTitle::after	{
	right: 0;
}
.shopSection div.shop_item	{
	display: inline-block;
	width: 198px;

	margin: 5px;
	padding: 5px;
	text-align: center;
	border-radius: 10px;
	vertical-align: top;

	/* background: rgba(0, 0, 0, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.1); */

	position: relative;

	transition: all 0.3s 0.1s;
}
.shopSection div.shop_item p	{
	margin: 0;
	margin-top: 2px;
}
.shopSection div.shop_item:hover	{
	/* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
	transition: all 0.3s 0s;
}
.shopSection div.shop_item .shop_item_btn	{
	position: absolute;
	top: 0;
	left: 0;
	width: 85%;
	height: 91%;

	z-index: 5;
}
.shopSection div.shop_item .deleteItem	{
	z-index: 6;
	position: relative;
	padding-top: 5px;
}
.shopSection img	{
	width: 128px;
	height: 128px;
}
.item_price	{
	position: absolute;
	top: 5px;
	right: 5px;
	margin: 0;
	padding: 7px;
	border-radius: 1000px;

	text-shadow: 0 1px 0 #999;

	-webkit-transform: rotate(25deg);
	-moz-transform: rotate(25deg);
	transform: rotate(25deg);
	font-size: 20px;

	background: rgba(128, 128, 128, 0.4);

	z-index: 4;
}
.shopAddItem	{
	height: 198px;
	vertical-align: middle;
}
.shopSection div .shopAddItem	{
	background: rgba(0, 0, 0, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.1);
}
.shopSection .shopSectionMoveButtons	{
	position: absolute;
	top: 0;
	right: -3.5em;
	height: 100%;
}
.shopSection .shopSectionMoveUp	{
	position: absolute;
	top: 0;
	right: 0;
}
.shopSection .shopSectionMoveDown	{
	position: absolute;
	bottom: 0;
	right: 0;
}

.shop_marker	{
	width: 0;
	height: 0;
	padding: 2px;
	background: rgba(255, 255, 255, 0.2);
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -3px;
	margin-top: 2px;
	border-radius: 100%;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

#tokenCheckoutForm	{
	text-align: center;
}
#tokenCheckoutForm input	{
	color: white;
}
#tokenCheckoutMethods	{
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 10px;
}
.payment_logo	{
	max-height: 32px;
	vertical-align: middle;
	padding: 5px;
	margin: 5px;
}
#starpass_209169	{
	overflow: hidden;
}
#payment_option	{
	background: white;
}

select	{
	font-size: 120%;
}
#form_paypal	{
	display: none;
}
input#radio_paypal[type="radio"]:checked ~ div#form_paypal	{
	display: block;
}
#form_starpass	{
	display: none;
}
input#radio_starpass[type="radio"]:checked ~ div#form_starpass	{
	display: block;
}

.nodisplay	{
	display: none;
}
.popup_window	{
	background: rgba(0, 0, 0, 0.9);

	display: inline-block;
	width: 400px;

	padding: 20px 20px;
	text-align: center;
	border-radius: 10px;
	vertical-align: top;

	position: fixed;
	/* top: 50%; */
	left: 50%;
	margin-left: -220px;
	/* margin-top: -200px; */

	box-shadow: 0 10px 20px -3px rgba(0, 0, 0, 0.5),
				0 0 0 2px rgba(255, 255, 255, 0.2) inset;

	z-index: -1;
	opacity: 0;

	overflow: auto;

	transition: opacity 0.4s, z-index 0.4s;
}
.popup_window.large	{
	width: 600px;
	margin-left: -320px;
}
.popup_window h2	{
	font-family: "PlayRegular";
	color: #FCC;
	margin: 0;
}
a.popup_background	{
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: -1;
	padding-left: 100%;
	padding-top: 100%;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* = = = = = = = = = = = = =  SUPPORT  = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
#supportTicketList, #supportTicketDetail	{
	width: 90%;
	margin: auto;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	border-collapse: collapse;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05),
				0 0 10px rgba(0, 0, 0, 0.2);
}
#supportTicketList thead	{
	text-align: center;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}
#supportTicketList thead tr	{
	border: none;
}
#supportTicketList tr	{
	position: relative;
	padding: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.05);
}
#supportTicketList td, #supportTicketList th	{
	margin: 0;
	padding: 8px 10px;
	border-left: 1px solid rgba(255, 255, 255, 0.025);
}
#supportTicketList td:first-child, #supportTicketList th:first-child	{
	border: none;
}
#supportTicketList p	{
	padding: 0;
	margin: 0;
	text-indent: 1em;
}
#supportTicketList a	{
	color: white;
}
td.statusBox	{
	width: 24px;
	text-align: center;
	vertical-align: middle;
}
td.infoBox	{
	width: 125px;
	text-align: right;
	font-style: italic;
	text-align: center;
}
td.post_id	{
	width: 50px;
	text-align: center;
}
#supportTicketList .post_date	{
	color: #CCC;
	font-size: 80%;
}

#supportTicketDetail thead	{
	background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}
#supportTicketDetail tr	{
	vertical-align: top;
}
#supportTicketDetail tr td:first-child a, #supportTicketDetail tr th:first-child a	{
	color: white;
}
.avatar	{
	width: 128px;
	height: 128px;
}
.avatar_small	{
	width: 64px;
	height: 64px;
}
#supportTicketDetail th h2:first-child p	{
	display: inline;
}
#supportTicketDetail td img.avatar	{
	width: 64px;
	height: 64px;
	margin-top: 5px;
}
#supportTicketDetail td, #supportTicketDetail th	{
	padding: 5px 15px;
	font-weight: normal;
	position: relative;
}
#supportTicketDetail tbody tr	{
	border-top: 1px solid rgba(255, 255, 255, 0.05);
}
#supportTicketDetail th:first-child, #supportTicketDetail td:first-child	{
	width: 150px;
	text-align: center;
	border-right: 1px solid rgba(255, 255, 255, 0.05);
}
#supportTicketDetail tbody td:first-child	{
	text-align: right;
	padding-right: 20px;
}
#supportTicketDetail p.brcorner	{
	margin: 0;
	padding: 5px;
	padding-left: 1em;
	padding-right: 1em;
	background-color: rgba(0, 0, 0, 0.05);
	border-top-left-radius: 10px;
	font-size: 80%;
	color: #DDD;
}
#supportTicketDetail tbody tr:last-child p.brcorner	{
	border-bottom-right-radius: 10px;
}

.brcorner	{
	position: absolute;
	right: 0;
	bottom: 0;
}

#new_ticket_form, #new_answer_form	{
	width: 100%;
	margin: auto;
	margin-left: 5%;
	overflow: hidden;
	max-height: 0;

	transition: max-height 0.6s;
}
#new_ticket:target ~ #new_ticket_form, #new_answer:target ~ #new_answer_form	{
	max-height: 10000px;
	transition: max-height 0.6s;
}

#validateButtons	{
	float: right;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* = = = = = = = = = = = = =  VOTE = = = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.vote_button	{
	display: inline-block;

	width: 128px;
	height: 128px;
	padding: 0;
	margin: 5px;

	-moz-perspective: 500px;
	-webkit-perspective: 500px;

	position: relative;
}
.vote_button a	{
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	padding: 50%;
	z-index: 5;
}
.vote_button img	{
	width: 100%;
	vertical-align: middle;
}
.vote_button_container	{
	width: 100%;
	height: 100%;

	position: relative;

	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	transform-style :preserve-3d;

	-webkit-transform: rotateY(0deg);
	-webkit-transition: all 0.5s ease;
	-moz-transform: rotateY(0deg);
	-moz-transition: all 0.5s ease;
}
.vote_button:hover .vote_button_container	{
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.vote_button_container div	{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}
.vote_button_container p	{
	text-align: center;
	vertical-align: middle;
	height: 20px;
	margin: 0;
	font-size: 150%;
}
.vote_button_container div:last-child	{
	line-height: 128px;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);

	background: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
}

progress {
	width: 100%;
	min-width: 100px;
	height: 2em;
	margin: .5em 0;
	border: 3px solid white;
	border-radius: 5px;
	background-color: #d4d4d4;
	box-shadow: 0 0 0 3px #b6b6b6;
}

@-webkit-keyframes progress {
	from {
		background-position: 0 0;	
	}		
	to {			
		background-position: 100px 100px;		
	}	
}		

@-moz-keyframes progress {		
	from {			
		background-position: 0 0;		
	}		
	to {			
		background-position: 100px 100px;		
	}	
}		

@keyframes progress {		
	from {			
		background-position: 0 0;	
	}		
	to {			
		background-position: 100px 100px;		
	}	
}		

progress::-webkit-progress-bar {		
	border-radius: 5px;		
	background-color: #d4d4d4;	
}		

progress::-webkit-progress-value {		
	border-radius: 5px;		
	background-color: #a5d62f;		
	background-image: -webkit-linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
	background-image: linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));		
	background-size: 40px 40px;		
	-webkit-animation: progress 8s linear infinite;		
	animation: progress 8s linear infinite;	
}		

progress::-moz-progress-bar {		
	border-radius: 5px;		
	background-color: #a5d62f;		
	background-image: linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));		
	background-size: 40px 40px;
	-moz-animation: progress 8s linear infinite;
	animation: progress 8s linear infinite;	
}
div.vote_rank	{
	position: relative;
}
span.vote_rank	{
	position: absolute;
	top: 5px;
	left: 0px;
	font-size: 250%;
	width: 100%;
	text-align: center;
	line-height: 14px;
	font-weight: bold;

	text-shadow: 0 1px 4px black;
}

a.disabled	{
	pointer-events: none;
	cursor: default;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* = = = = = = = = = = = = =  SIDEBAR  = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
#side_infos	{
	background: rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2) inset;

	padding: 15px;
	padding-left: 25px;
	margin: 0;
	width: 210px;

	position: fixed;
	right: -215px;
	top: 120px;
	max-height: 80%;

	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;

	text-align: center;

	z-index: 6;

	transition: right 0.3s,
				background 0.4s,
				box-shadow 0.4s;
}
#side_infos:hover, #side_infos:target	{
	right: -1px;
	background: rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset,
		0 0 10px rgba(0, 0, 0, 0.5);
}
#side_infos #side_infos_title	{
	/* content: "Connexion / s'inscrire"; */
	position: absolute;
	-webkit-transform-origin: 0 100%;
	-webkit-transform: rotate(-90deg);
	-moz-transform-origin: 0 100%;
	-moz-transform: rotate(-90deg);

	left: 0;
	top: 50%;
	margin: 0;
	margin-left: 30px;
	/* margin-top: 20%; */
	padding: 0;
	padding-top: 25%;
}
#side_infos a	{
	color: white;
}
#side_infos p	{
	margin: 0;
}
#side_infos ul	{
	list-style-type: none;
	text-align: right;
	margin-right: 10px;
}
#side_infos ul li img	{
	vertical-align: middle;
	margin-left: 5px;
}
#side_infos ul li a	{
	text-decoration: none;
}
#main_user_avatar img	{
	max-width: 128px;
}

#left_infos	{
	background: rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2) inset;

	padding: 10px;
	padding-right: 15px;
	margin: 0;
	width: 145px;

	position: fixed;
	left: -11px;
	top: 120px;
	max-height: 80%;

	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;

	text-align: right;

	transition: left 0.3s,
				background 0.4s,
				box-shadow 0.4s;

	z-index: 10;
}
#left_infos:hover, #left_infos:target	{
	left: -1px;
	background: rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset,
		0 0 10px rgba(0, 0, 0, 0.5);
}
#left_infos.clicked	{
	left: -135px;
}
#left_infos ul	{
	list-style-type: none;
	padding-left: 0;
}
#left_infos h2	{
	font-family: 'PlayRegular';
	text-align: center;
	margin-bottom: 5px;
}
#left_infos table tr td:first-child	{
	text-align: left;
	padding-left: 7px;
}
#left_infos table	{
	width: 100%;
	margin-left: 5px;
}
#left_infos .thin_info	{
	margin: 0;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* = = = = = = = = =  FOOTER  PRINCIPAL  = = = = = = = = = = */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
#main_footer	{
	width: 70%;
	margin: auto;
	font-size: 0.8em;
}
#main_footer div#main_footer_content	{
	width: 100%;
	text-align: center;
	padding: 3em;

	text-shadow: 0 1px 0 #999;
}
#main_footer section, #main_footer div	{
	display: inline-block;
}
#main_footer section	{
	vertical-align: top;
	display: block;
}
#main_footer div	{
	vertical-align: middle;
}
#main_footer h3	{
	margin: 2px 0 2px 0;
	display: inline-block;
}
#main_footer a	{
	color: #DDD;
	text-decoration: none;
}
#main_footer ul	{
	display: inline-block;
	margin: 0;
}
#main_footer ul li	{
	display: inline-block;
	vertical-align: middle;
}
#main_footer ul li::before	{
	content: "\b7";
	margin: 0 1em 0 1em;
}
#main_footer ul li:first-child::before	{
	content: "";
}
#main_footer h4, #main_footer h4 a	{
	font-family: Georgia;
	margin: 2px;
	font-style: italic;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* = = = = = = = = = = =  RÉGLAGES = = = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
#main_settings tr td	{
	padding: 1px 6px;
}
#main_settings tr td:last-child	{
	text-align: right;
}
#main_settings tr:last-child td	{
	text-align: center;
}
#main_settings .avatar	{
	margin: 5px;
	box-shadow: 0 0 1px white;
	width: 128px;
	height: 128px;
}
#main_settings td p	{
	margin: 0;
}
#form_url	{
	display: none;
}
input#radio_url[type="radio"]:checked ~ div#form_url	{
	display: block;
}
#form_upload	{
	display: none;
}
input#radio_upload[type="radio"]:checked ~ div#form_upload	{
	display: block;
}

.historyTable	{
	width: 100%;
}
.historyTable tr td:last-child	{
	text-align: right;
}

.serverTable	{
	background: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	border-collapse: collapse;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05),
				0 0 10px rgba(0, 0, 0, 0.2);
	margin: 10px 0;
}
.serverTable .thead	{
	background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}
.serverTable .thead .tr	{
	border: none;
}
.serverTable .tr	{
	position: relative;
	padding: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.serverTable .td, .serverTable .th	{
	margin: 0;
	padding: 8px 10px;
	border-left: 1px solid rgba(255, 255, 255, 0.025);
	text-align: center;
}
.serverTable .td:first-child, .serverTable .th:first-child	{
	border: none;
}
.serverTable .td:last-child, .serverTable .th:last-child	{
	min-width: 100px;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* = = = = = = = = = =  PROFIL MEMBRE  = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

#avatar_box	{
	display: inline-block;
	width: 128px;
	height: 128px;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
	vertical-align: middle;
}
#user_profile	{
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	margin-left: 5em;
}
#user_profile td	{
	padding: 0 5px;
}
#user_profile tr td:first-child	{
	margin-right: 20px;
	text-align: right;
}
#user_profile tr td:last-child	{
	margin-left: 20px;
	text-align: left;
}

#letter_list	{
	display: table;
	margin: auto;
	/* background: rgba(0, 0, 0, 0.1); */
	padding: 5px;
	border-radius: 10px;
}
#letter_list a	{
	display: inline-block;
	margin: 0;
	padding: 0 5px;
	color: white;
	/* width: 0.5em; */
	text-align: center;
	cursor: default;
	transition: all 0.3s 0s;
}
#letter_list a:first-child	{
	width: auto;
}

#letter_list a:hover	{
	padding: 0 1em;
	transition: all 0.3s 0s;
	position: relative;
}
#letter_list a::after, #letter_list a::before	{
	content: "";
	position: absolute;
	left: 0;
	margin: 0;
	width: 100%;
	height: 2px;

	background: rgba(0, 0, 0, 0.0);
	border: 1px solid rgba(255, 255, 255, 0.0);

	transition: all 0.3s;
}
#letter_list a::after	{
	bottom: -3px;
}
#letter_list a::before	{
	top: -3px;
}
#letter_list a:hover::after, #letter_list a:hover::before	{
	content: "";
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.2);

	transition: all 0.3s 0s;
}
#letter_list a.selected	{
	font-weight: bold;
	font-style: italic;
}
.member_list	{
	padding: 10px 0;
	display: block;
}
.member_list img, .member_list div	{
	vertical-align: middle;
	display: inline-block;
	margin: 5px;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* = = = = = = = = = =  FORMULAIRES  = = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
.login_form	{
	/* padding: 5px 0 5px 0; */
}
.login_form	p.formfied {
	text-align: justify;
}
.textfield	{
	padding: 4px;
	width: 85%;
	font-size: 90%;
}
.name, .pass, .mail	{
	padding: 0 0 0 22px;
}
.name	{ background: url('../images/user.png') no-repeat; }
.pass	{ background: url('../images/lock.png') no-repeat; }
.mail	{ background: url('../images/mail.png') no-repeat; }
.field_info	{
	color: #777;
	font-size: 80%;
	background: url('../images/icon_help.png') no-repeat;
	padding-left: 15px;
}
.login_info	{
	padding-left: 22px;
	background: url('../images/id_card.png') no-repeat;
	background-position: left center;
}
.form_bottom_info	{
	text-indent: 0;
	padding-left: 28px;
	background: url('../images/information2.png') no-repeat;
	background-position: left center;
}
.submit	{
}
select	{
	padding: 5px;
}

#register_form, #contact_form, .standalone_section	{
	text-align: left;
	text-indent: 0;
	box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.4);
	margin: 10px;
	padding: 5px 15px;
	border-radius: 10px;
	overflow: hidden;
}
#contact_form header, .standalone_section header	{
	/* background: rgba(0, 0, 0, 0.1); */
	background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
	margin: -10px -15px;
	margin-bottom: 0;
	padding: 10px 15px;
	padding-top: 15px;
}
#contact_form h2, #contact_form h3	{
	text-indent: 1em;
}

.floating	{
	vertical-align: top;
	display: inline-table;
	margin: 10px auto;
}
.boxed	{
	box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.4);
	margin: 10px;
	padding: 5px 15px;
	border-radius: 10px;
}

/* Cheating the system to make forms inside a table xD */
div.table	{
	display:table;
}
div.thead	{
	display: table-header-group;
}
div.tbody	{
	display: table-row-group;
}
form.tr, div.tr	{
	display:table-row;
}
span.td, span.th, div.td, div.th	{
	display:table-cell;
}
span.th, div.th	{
	font-weight: bold;
}

table.styled, div.table.styled	{
	background: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	border-collapse: collapse;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05),
				0 0 10px rgba(0, 0, 0, 0.2);
	margin: 10px 0;
}
table.styled thead, div.table.styled .thead	{
	background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0));
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
table.styled thead tr, div.table.styled .thead .tr	{
	border: none;
}
table.styled tr, div.table.styled .tr	{
	position: relative;
	padding: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.05);
}
table.styled td, table.styled th, div.table.styled .td, div.table.styled .th	{
	margin: 0;
	padding: 8px 10px;
	border-left: 1px solid rgba(255, 255, 255, 0.025);
	text-align: center;
}
table.styled td:first-child, table.styled th:first-child, div.table.styled .td:first-child, div.table.styled .th:first-child	{
	border: none;
}
table.styled.noborder tr, div.table.styled.noborder .tr	{
	border: none;
}
table.filler, div.table.filler	{
	width: 100%;
	left: 0;
	right: 0;
}


/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* = = = = = = = = =  DROP  SHADOWS  = = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
.drop-shadow {
	position: relative;
	/* width: 90%; */
}

.drop-shadow:before,
.drop-shadow:after {
	content: "";
	position: absolute;
	z-index: -1;
	bottom: 15px;
	left: 10px;
	width: 50%;
	height: 20%;
	max-width: 300px;
	box-shadow :0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.drop-shadow:after{
	right: 10px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	transform: rotate(3deg);
}

div.arrow	{
	height: 300px;
	position: relative;
	margin: auto;
	margin-top: 30px;
}
div.arrow::before, div.arrow::after	{
	content: "";
	height: 100px;
	position: absolute;
	top: -4px;
}
div.arrow, div.arrow::before, div.arrow::after	{
	width: 5px;
	padding: 0 0 0 5px;

	border: 1px solid rgba(255, 255, 255, 0.1);
	background: rgba(0, 0, 0, 0.1);
	border-radius: 15px;
}
div.arrow::before	{
	-webkit-transform-origin: 0 0;
	-webkit-transform: rotate(35deg);
	-moz-transform-origin: 0 0;
	-moz-transform: rotate(35deg);

	left: 3px;
}
div.arrow::after	{
	-webkit-transform-origin: 100% 0;
	-webkit-transform: rotate(-35deg);
	-moz-transform-origin: 100% 0;
	-moz-transform: rotate(-35deg);

	right: 3px;
}

/* ------ Push button ------ */
.push_button_normal	{
	font-size: 1.0em;
}
.push_button_big	{
	font-size: 1.6em;
}
#site_corpse a.push_button_big, #site_corpse a.push_button_normal	{
	color: white;
}
.push_button_big, .push_button_normal {
	display: inline-block;
	padding: 7px 14px 7px 14px;
	margin: 2px;

	text-align: center;

	background: rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.1);
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	color: white;

	text-decoration: none;
	border-radius: 7px;

	transition: all 0.3s;

	text-indent: 0;
}
.push_button_big:hover, .push_button_normal:hover {
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3),
				0 0 10px rgba(255, 255, 255, 0.2);
}

.icon	{
	vertical-align: -3px;
	width: 16px !important;
	height: 16px !important;
}
/* The icon is on the left of the text */
.icon_left	{
	margin-right: 5px;
}
.icon_right	{
	margin-left: 5px;
}

/* Font stuff */
.bold	{ font-weight: bold; }
.italic	{ font-style: italic; }
.underline	{ text-decoration: underline; }
.striked	{ text-decoration: line-through; }
.text_left	{ text-align: left; }
.text_right	{ text-align: right; }
.text_center	{ text-align: center; }
.text_justify	{ text-align: justify; }
